services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: sidali
      MYSQL_DATABASE: freelance
    ports:
      - "3306:3306"
